body {
    background-color: lightgray
}

/* Buttons */

.header {
    background-color: white;
    margin-bottom: 10px;
}

button {
    background-color: teal;
    color: white;
    margin: 5px;
}

button:hover {
    background-color: rgb(0, 85, 85);
}

/* GIF Display */

.gifDIV { 
    display: inline-block;
    margin: 20px;
}

.gif {
    height: 200px;
}

p {
    margin: 0px;
}

.favorite {
    background-color: teal;
    color: white;
    margin-top: 10px;
    margin-left: 0px;
    padding:5px 15px 7px; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.unfavorite {
    background-color: teal;
    color: white;
    margin-top: 10px;
    margin-left: 0px;
    padding:5px 15px 7px; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

/* Form */

form {
    margin-top: 15px;
}

#giphy-input {
    width: 100%;
}

#addGiphy, #favorites {
    background-color: teal;
    color: white;
    margin-top: 10px;
    padding:5px 15px 7px; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#favorites {
    margin-top: 50px;
    margin-left: 0px;
}

#addGiphy:hover {
    background-color: rgb(0, 85, 85);
}